Repository kubernetes-sigs/cluster-api-provider-aws, pull requests merged in 2024-04, with the labels that each got.

#4866 :bug: fix: create ingress rules from all load balancers
  pkg/cloud/scope/managedcontrolplane.go
  pkg/cloud/scope/sg.go
  pkg/cloud/services/securitygroup/securitygroups.go
  pkg/cloud/services/securitygroup/securitygroups_test.go
Labels: kind/bug, size/L, approved, cncf-cla: yes, lgtm, release-note, kind/api-change, ok-to-test, needs-priority

#4892 🐛 ec2: instances: fix assigning public IP
  api/v1beta1/awscluster_conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/controlplane.cluster.x-k8s.io_awsmanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  pkg/cloud/services/ec2/instances.go
  pkg/cloud/services/ec2/instances_test.go
Labels: kind/bug, size/XL, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#4899 🐛 fix/network/rtb: delete rtb handling err when failed to create routes
  pkg/cloud/services/network/routetables.go
  pkg/cloud/services/network/routetables_test.go
Labels: kind/bug, size/L, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#4883 :sparkles: Add support to specify PlacementGroupPartition of placement group
  api/v1beta1/awscluster_conversion.go
  api/v1beta1/awsmachine_conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/awsmachine_types.go
  api/v1beta2/types.go
  config/crd/bases/controlplane.cluster.x-k8s.io_awsmanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmachinetemplates.yaml
  pkg/cloud/services/ec2/instances.go
  pkg/cloud/services/ec2/instances_test.go
Labels: kind/feature, size/L, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#4896 🐛Retry fetching user data from secretmanager if first request fails
  pkg/cloud/services/secretsmanager/secret_fetch_script.go
Labels: kind/bug, size/M, approved, cncf-cla: yes, lgtm, release-note, needs-priority

#4921 [release-2.4] 🐛 fix: Fix instance PrivateDNSName when domain-name is set in dhcpOpts
  cmd/clusterawsadm/cloudformation/bootstrap/cluster_api_controller.go
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/customsuffix.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/default.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_all_secret_backends.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_allow_assume_role.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_bootstrap_user.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_custom_bootstrap_user.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_different_instance_profiles.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_eks_console.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_eks_default_roles.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_eks_disable.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_eks_kms_prefix.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_extra_statements.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_s3_bucket.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_ssm_secret_backend.yaml
  controllers/awsmachine_controller_test.go
  pkg/cloud/services/ec2/instances.go
  pkg/cloud/services/ec2/instances_test.go
Labels: size/L, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#4917 🐛 fix: update network subnets prio tag failures
  pkg/cloud/services/network/subnets.go
  pkg/cloud/services/network/subnets_test.go
Labels: kind/bug, size/L, release-note-none, approved, cncf-cla: yes, lgtm, ok-to-test, needs-priority

#4748 ✨ use goreleaser for releasing binary
  .github/workflows/release.yaml
  .gitignore
  .goreleaser.yaml
  Makefile
  cmd/clusterawsadm/cmd/version/version.go
  docs/book/src/development/releasing.md
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  versions.mk
Labels: kind/feature, size/XL, approved, cncf-cla: yes, lgtm, release-note, tide/merge-method-squash, ok-to-test, needs-priority

#4808 🌱 Add basic unit test for EKS `AWSManagedControlPlaneReconciler`
  controlplane/eks/controllers/awsmanagedcontrolplane_controller.go
  controlplane/eks/controllers/awsmanagedcontrolplane_controller_test.go
  controlplane/eks/controllers/awsmanagedcontrolplane_controller_unit_test.go
  controlplane/eks/controllers/helpers_test.go
  controlplane/eks/controllers/suite_test.go
  pkg/cloud/services/eks/cluster.go
  pkg/cloud/services/eks/cluster_test.go
  pkg/cloud/services/eks/nodegroup.go
  pkg/cloud/services/interfaces.go
  pkg/cloud/services/mock_services/aws_node_interface_mock.go
  pkg/cloud/services/mock_services/doc.go
  pkg/cloud/services/mock_services/iam_authenticator_interface_mock.go
  pkg/cloud/services/mock_services/kube_proxy_interface_mock.go
Labels: kind/support, release-note-none, size/XXL, approved, cncf-cla: yes, lgtm, needs-priority

#4915 ✨ ROSA: Support for External OIDC
  config/crd/bases/controlplane.cluster.x-k8s.io_rosacontrolplanes.yaml
  controlplane/rosa/api/v1beta2/conditions_consts.go
  controlplane/rosa/api/v1beta2/external_auth_types.go
  controlplane/rosa/api/v1beta2/rosacontrolplane_types.go
  controlplane/rosa/api/v1beta2/rosacontrolplane_webhook.go
  controlplane/rosa/api/v1beta2/zz_generated.deepcopy.go
  controlplane/rosa/controllers/rosacontrolplane_controller.go
  docs/book/src/crd/index.md
  go.mod
  go.sum
  pkg/cloud/scope/rosacontrolplane.go
  pkg/rosa/client.go
  pkg/rosa/externalauthproviders.go
  pkg/rosa/helpers.go
Labels: kind/feature, size/XXL, approved, cncf-cla: yes, lgtm, release-note, needs-priority

#4897 :seedling: Bump CAPI to v1.7.0
  config/crd/bases/bootstrap.cluster.x-k8s.io_eksconfigs.yaml
  config/crd/bases/bootstrap.cluster.x-k8s.io_eksconfigtemplates.yaml
  config/crd/bases/controlplane.cluster.x-k8s.io_awsmanagedcontrolplanes.yaml
  config/crd/bases/controlplane.cluster.x-k8s.io_rosacontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclustercontrolleridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclusterroleidentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclusterstaticidentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsfargateprofiles.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmanagedmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_rosaclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_rosamachinepools.yaml
  controllers/awsmachine_controller_unit_test.go
  exp/controllers/awsmachinepool_controller.go
  feature/feature.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/data/e2e_conf.yaml
  test/e2e/data/e2e_eks_conf.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/suites/unmanaged/helpers_test.go
  versions.mk
Labels: kind/support, size/XXL, approved, cncf-cla: yes, lgtm, release-note, tide/merge-method-squash, needs-priority

#4916 🌱 bump aws sdk version
  go.mod
  go.sum
  pkg/cloud/services/eks/mock_eksiface/eksapi_mock.go
  pkg/cloud/services/s3/mock_s3iface/s3api_mock.go
  pkg/cloud/services/secretsmanager/mock_secretsmanageriface/secretsmanagerapi_mock.go
  pkg/cloud/services/ssm/mock_ssmiface/ssmapi_mock.go
  test/mocks/aws_ec2api_mock.go
  test/mocks/aws_elbv2_mock.go
Labels: size/XXL, approved, cncf-cla: yes, lgtm, release-note, kind/cleanup, ok-to-test, needs-priority

#4935 🌱 Bump cert-manager to v1.14.4 to align with CAPI
  test/e2e/data/e2e_conf.yaml
  test/e2e/data/e2e_eks_conf.yaml
  versions.mk
Labels: kind/support, approved, cncf-cla: yes, lgtm, size/S, release-note, needs-priority

#4939 🌱 [backport] Bump AWS SDK
  go.mod
  go.sum
  pkg/cloud/services/eks/mock_eksiface/eksapi_mock.go
  pkg/cloud/services/s3/mock_s3iface/s3api_mock.go
  pkg/cloud/services/secretsmanager/mock_secretsmanageriface/secretsmanagerapi_mock.go
  pkg/cloud/services/ssm/mock_ssmiface/ssmapi_mock.go
  test/mocks/aws_ec2api_mock.go
  test/mocks/aws_elbv2_mock.go
Labels: kind/feature, size/XXL, approved, cncf-cla: yes, lgtm, release-note, needs-priority

#4849 ✨ Feat: ELBv2/TGs - Add health check customization
  api/v1beta1/awscluster_conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/awscluster_types.go
  api/v1beta2/network_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/controlplane.cluster.x-k8s.io_awsmanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclustertemplates.yaml
  pkg/cloud/services/elb/loadbalancer.go
  pkg/cloud/services/elb/loadbalancer_test.go
Labels: kind/feature, size/XXL, approved, cncf-cla: yes, lgtm, release-note, kind/api-change, ok-to-test, needs-priority

#4900 🌱 refactor route discover/creation flow
  pkg/cloud/services/network/routetables.go
  pkg/cloud/services/network/routetables_test.go
Labels: size/L, release-note-none, approved, cncf-cla: yes, lgtm, kind/cleanup, ok-to-test, needs-priority

#4882 ✨ Introduce edge subnets to support AWS Local Zones
  api/v1beta1/awscluster_conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/awscluster_webhook.go
  api/v1beta2/network_types.go
  api/v1beta2/network_types_test.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/controlplane.cluster.x-k8s.io_awsmanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclustertemplates.yaml
  controllers/awscluster_controller_test.go
  controlplane/eks/controllers/awsmanagedcontrolplane_controller_test.go
  docs/book/src/SUMMARY_PREFIX.md
  docs/book/src/topics/provision-edge-zones.md
  pkg/cloud/services/network/natgateways.go
  pkg/cloud/services/network/natgateways_test.go
  pkg/cloud/services/network/routetables.go
  pkg/cloud/services/network/routetables_test.go
  pkg/cloud/services/network/subnets.go
  pkg/cloud/services/network/subnets_test.go
Labels: kind/feature, size/XXL, approved, cncf-cla: yes, lgtm, release-note, kind/api-change, ok-to-test, needs-priority

#4946 :bug: Use release branch when generating changelog
  Makefile
Labels: kind/bug, release-note-none, approved, cncf-cla: yes, lgtm, size/XS, ok-to-test, area/release, needs-priority

#4945 ✨ backport to release-2.4: use goreleaser for releasing binary
  .github/workflows/release.yaml
  .gitignore
  .goreleaser.yaml
  Makefile
  cmd/clusterawsadm/cmd/version/version.go
  docs/book/src/development/releasing.md
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  versions.mk
Labels: release-note-none, size/XL, approved, cncf-cla: yes, lgtm, ok-to-test, area/release, needs-priority

#4940 🐛 ROSA: Fix missing permissions & Add external OIDC docs
  config/crd/bases/controlplane.cluster.x-k8s.io_rosacontrolplanes.yaml
  config/rbac/role.yaml
  controlplane/rosa/api/v1beta2/external_auth_types.go
  controlplane/rosa/api/v1beta2/zz_generated.deepcopy.go
  controlplane/rosa/controllers/rosacontrolplane_controller.go
  docs/book/src/SUMMARY_PREFIX.md
  docs/book/src/crd/index.md
  docs/book/src/topics/rosa/external-auth.md
  docs/book/src/topics/rosa/index.md
Labels: kind/bug, size/L, release-note-none, approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, needs-priority, area/provider/rosa

#4904 ✨ s3: allow best effort delete for objects
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/awscluster_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclustertemplates.yaml
  pkg/cloud/services/s3/s3.go
  pkg/cloud/services/s3/s3_test.go
Labels: kind/feature, size/M, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#4948 :bug: Fix Target Group's name exceeding 32 characters
  api/v1beta2/network_types.go
  config/crd/bases/controlplane.cluster.x-k8s.io_awsmanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  pkg/cloud/services/elb/loadbalancer.go
  pkg/cloud/services/elb/loadbalancer_test.go
Labels: kind/bug, size/M, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#4901 ✨ Support of managing subnets on AWS Wavelength Zones
  api/v1beta1/awscluster_conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/conditions_consts.go
  api/v1beta2/network_types.go
  api/v1beta2/network_types_test.go
  api/v1beta2/zz_generated.deepcopy.go
  cmd/clusterawsadm/cloudformation/bootstrap/cluster_api_controller.go
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/customsuffix.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/default.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_all_secret_backends.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_allow_assume_role.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_bootstrap_user.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_custom_bootstrap_user.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_different_instance_profiles.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_eks_console.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_eks_default_roles.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_eks_disable.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_eks_kms_prefix.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_extra_statements.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_s3_bucket.yaml
  cmd/clusterawsadm/cloudformation/bootstrap/fixtures/with_ssm_secret_backend.yaml
  config/crd/bases/controlplane.cluster.x-k8s.io_awsmanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclustertemplates.yaml
  docs/book/src/topics/provision-edge-zones.md
  pkg/cloud/awserrors/errors.go
  pkg/cloud/services/network/carriergateways.go
  pkg/cloud/services/network/carriergateways_test.go
  pkg/cloud/services/network/natgateways_test.go
  pkg/cloud/services/network/network.go
  pkg/cloud/services/network/routetables.go
  pkg/cloud/services/network/routetables_test.go
  pkg/cloud/services/network/subnets.go
  pkg/cloud/services/network/subnets_test.go
Labels: kind/feature, size/XXL, approved, cncf-cla: yes, lgtm, release-note-action-required, kind/api-change, ok-to-test, needs-priority

#4955 :seedling: Bump CAPI to v1.7.1
  go.mod
  go.sum
  test/e2e/data/e2e_conf.yaml
  test/e2e/data/e2e_eks_conf.yaml
  versions.mk
Labels: kind/support, size/M, release-note-none, approved, cncf-cla: yes, lgtm, needs-priority

#4960 ✨ feat(ami): add support for AL2023 type
  cmd/clusterawsadm/api/ami/v1beta1/zz_generated.defaults.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmanagedmachinepools.yaml
  docs/book/src/crd/index.md
  exp/api/v1beta1/awsmanagedmachinepool_types.go
  exp/api/v1beta2/awsmanagedmachinepool_types.go
Labels: kind/feature, approved, cncf-cla: yes, lgtm, size/S, release-note, needs-priority
