Repository kubernetes-sigs/cluster-api-provider-aws, pull requests merged in 2025-10, with the labels that each got.

#5578 ✨ feat: Support setting EKS authentication mode
  config/crd/bases/controlplane.cluster.x-k8s.io_awsmanagedcontrolplanes.yaml
  config/crd/bases/controlplane.cluster.x-k8s.io_awsmanagedcontrolplanetemplates.yaml
  controlplane/eks/api/v1beta1/conversion.go
  controlplane/eks/api/v1beta1/zz_generated.conversion.go
  controlplane/eks/api/v1beta2/awsmanagedcontrolplane_types.go
  controlplane/eks/api/v1beta2/awsmanagedcontrolplane_webhook.go
  controlplane/eks/api/v1beta2/awsmanagedcontrolplane_webhook_test.go
  controlplane/eks/api/v1beta2/types.go
  controlplane/eks/api/v1beta2/zz_generated.deepcopy.go
  pkg/cloud/services/eks/cluster.go
  pkg/cloud/services/eks/cluster_test.go
  test/e2e/data/e2e_eks_conf.yaml
  test/e2e/data/eks/cluster-template-eks-auth-api-and-config-map.yaml
  test/e2e/data/eks/cluster-template-eks-auth-bootstrap-disabled.yaml
  test/e2e/suites/managed/eks_auth_test.go
  test/e2e/suites/managed/helpers.go
Labels: kind/feature, size/XL, approved, cncf-cla: yes, lgtm, release-note, tide/merge-method-squash, ok-to-test, needs-priority

#5464 ✨ ROSANetwork: new CRD & reconciler to provision network infrastructure for ROSA-HCP
  PROJECT
  config/crd/bases/controlplane.cluster.x-k8s.io_rosacontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_rosanetworks.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_rosanetworks.yaml
  config/rbac/role.yaml
  controlplane/rosa/api/v1beta2/rosacontrolplane_types.go
  controlplane/rosa/api/v1beta2/rosacontrolplane_webhook.go
  controlplane/rosa/api/v1beta2/rosacontrolplane_webhook_test.go
  controlplane/rosa/api/v1beta2/zz_generated.deepcopy.go
  controlplane/rosa/controllers/rosacontrolplane_controller.go
  exp/api/v1beta2/conditions_consts.go
  exp/api/v1beta2/rosanetwork_types.go
  exp/api/v1beta2/zz_generated.deepcopy.go
  exp/controllers/rosanetwork_controller.go
  exp/controllers/rosanetwork_controller_test.go
  go.mod
  main.go
  pkg/cloud/interfaces.go
  pkg/cloud/scope/rosanetwork.go
  pkg/cloud/scope/rosanetwork_test.go
  pkg/cloud/scope/session.go
  templates/rosa-network.yaml
Labels: kind/feature, size/XXL, approved, cncf-cla: yes, lgtm, release-note, tide/merge-method-squash, ok-to-test, needs-priority

#5697 [release-2.9] ✨ Rosa roles config implementations
  PROJECT
  config/crd/bases/controlplane.cluster.x-k8s.io_rosacontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_rosaroleconfigs.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_rosaroleconfigs.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  controllers/rosacluster_controller_test.go
  controlplane/rosa/api/v1beta2/conditions_consts.go
  controlplane/rosa/api/v1beta2/rosacontrolplane_types.go
  controlplane/rosa/api/v1beta2/rosacontrolplane_webhook.go
  controlplane/rosa/api/v1beta2/zz_generated.deepcopy.go
  controlplane/rosa/controllers/rosacontrolplane_controller.go
  controlplane/rosa/controllers/rosacontrolplane_controller_test.go
  docs/book/src/topics/rosa/creating-a-cluster.md
  exp/api/v1beta2/finalizers.go
  exp/api/v1beta2/rosamachinepool_types.go
  exp/api/v1beta2/rosaroleconfig_types.go
  exp/api/v1beta2/rosaroleconfig_webhook.go
  exp/api/v1beta2/zz_generated.deepcopy.go
  exp/controllers/rosamachinepool_controller_test.go
  exp/controllers/rosaroleconfig_controller.go
  exp/controllers/rosaroleconfig_controller_test.go
  exp/controllers/suite_test.go
  exp/utils/rosa_helper.go
  exp/utils/rosa_helper_test.go
  go.mod
  go.sum
  main.go
  pkg/cloud/scope/rosacontrolplane.go
  pkg/cloud/scope/rosaroleconfig.go
  pkg/rosa/client.go
  pkg/rosa/ocmclient.go
  templates/cluster-template-rosa-role-config.yaml
  test/mocks/ocm_client_mock.go
Labels: size/XXL, approved, cncf-cla: yes, lgtm, release-note, needs-priority

#5678 :book: KEP: adds nodedm proposal
  docs/proposal/20250922-nodeadm-bootstrap.md
Labels: size/L, release-note-none, approved, cncf-cla: yes, lgtm, kind/design, needs-priority
