Repository kubernetes-sigs/cluster-api-provider-aws, pull requests merged in 2025-01, with the labels that each got.

#5233 :sparkles: ROSA: Support for OCM service account credentials
  docs/book/src/topics/rosa/creating-a-cluster.md
  pkg/rosa/client.go
  pkg/rosa/client_test.go
Labels: size/L, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#5248 🐛 fix(awscluster): update with secondary control plane load balancer
  api/v1beta2/awscluster_webhook.go
  api/v1beta2/awscluster_webhook_test.go
Labels: kind/bug, size/M, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#5267 ✨ ROSA: Update ROSA OWNERS
  config/crd/bases/OWNERS
  controllers/OWNERS
  controlplane/rosa/OWNERS
  docs/book/src/topics/rosa/OWNERS
  exp/api/v1beta2/OWNERS
  exp/controllers/OWNERS
  pkg/cloud/scope/OWNERS
  pkg/rosa/OWNERS
  templates/OWNERS
Labels: size/M, release-note-none, approved, cncf-cla: yes, lgtm, needs-priority

#5239 :seedling: Remove invalid EKS test
  test/e2e/data/e2e_eks_conf.yaml
  test/e2e/data/eks/cluster-template-eks-control-plane-only-withaddon.yaml
  test/e2e/suites/managed/eks_test.go
Labels: size/M, approved, cncf-cla: yes, lgtm, kind/failing-test, release-note, needs-priority

#5242 :bug: Attempt to clean up CF IAM users
  test/e2e/shared/aws.go
Labels: size/M, release-note-none, approved, cncf-cla: yes, lgtm, kind/failing-test, needs-priority

#5277 🌱 chore: add link to 2025 meeting notes
  docs/book/book.toml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/XS, release-note, needs-priority

#5288 🐛 fix: self hosted e2e test
  test/e2e/data/e2e_conf.yaml
  test/e2e/data/infrastructure-aws/withoutclusterclass/e2e_test_templates/cluster-template-remote-management-cluster.yaml
  test/e2e/data/infrastructure-aws/withoutclusterclass/kustomize_sources/remote-management-cluster/kustomization.yaml
  test/e2e/data/infrastructure-aws/withoutclusterclass/kustomize_sources/remote-management-cluster/patches/root-volume-size.yaml
Labels: kind/bug, size/M, approved, cncf-cla: yes, lgtm, release-note, needs-priority

#5198 🐛 fix(securitygroups): Look up unmanaged NAT Gateway IPs, so provider doesn't add 0.0.0.0/0 SG rule
  controllers/awscluster_controller_test.go
  pkg/cloud/services/network/natgateways.go
Labels: kind/bug, size/M, approved, cncf-cla: yes, lgtm, release-note-action-required, ok-to-test, needs-priority

#5279 ✨ ROSA: Add version channel Group
  config/crd/bases/controlplane.cluster.x-k8s.io_rosacontrolplanes.yaml
  controlplane/rosa/api/v1beta2/rosacontrolplane_types.go
  controlplane/rosa/controllers/rosacontrolplane_controller.go
  docs/book/src/topics/rosa/upgrades.md
Labels: approved, cncf-cla: yes, lgtm, size/S, release-note, needs-priority

#5300 🌱 chore: title verifier update
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-verify.yml
  hack/verify-pr-title.sh
Labels: size/M, approved, cncf-cla: yes, lgtm, release-note, kind/cleanup, needs-priority

#5301 ✨ Adding devbox and devcontainer configuration
  .devcontainer/capa-devbox/devcontainer.json
  devbox.json
  devbox.lock
Labels: kind/support, size/L, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#5313 🐛 Use different names for controllers watching `AWSCluster` objects
  exp/controlleridentitycreator/awscontrolleridentity_controller.go
  exp/instancestate/awsinstancestate_controller.go
Labels: kind/bug, approved, cncf-cla: yes, lgtm, size/XS, release-note, needs-priority

#5315 🐛 [release-2.6] fix: e2e changes to remove v1.23
  test/e2e/data/e2e_conf.yaml
  test/e2e/data/e2e_eks_conf.yaml
  test/e2e/data/eks/cluster-template-eks-control-plane-only-withaddon.yaml
  test/e2e/data/eks/cluster-template-eks-ipv6-cluster.yaml
  test/e2e/shared/defaults.go
  test/e2e/suites/managed/eks_ipv6_test.go
  test/e2e/suites/managed/eks_legacy_test.go
  test/e2e/suites/managed/eks_test.go
  test/e2e/suites/managed/upgrade_test.go
  test/e2e/suites/unmanaged/helpers_test.go
  test/e2e/suites/unmanaged/unmanaged_functional_test.go
Labels: size/XL, approved, cncf-cla: yes, lgtm, kind/failing-test, release-note, needs-priority

#5175 🐛: Tags defined in subnet spec should be applied
  pkg/cloud/services/network/subnets.go
  pkg/cloud/services/network/subnets_test.go
Labels: kind/bug, size/L, approved, cncf-cla: yes, lgtm, release-note, needs-priority

#5211 ✨ Add the support for capacity blocks
  api/v1beta1/awscluster_conversion.go
  api/v1beta1/awsmachine_conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/awsmachine_types.go
  api/v1beta2/awsmachine_webhook.go
  api/v1beta2/awsmachine_webhook_test.go
  api/v1beta2/types.go
  config/crd/bases/controlplane.cluster.x-k8s.io_awsmanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmanagedmachinepools.yaml
  exp/api/v1beta1/conversion.go
  exp/api/v1beta1/zz_generated.conversion.go
  exp/api/v1beta2/awsmachinepool_webhook.go
  exp/api/v1beta2/awsmachinepool_webhook_test.go
  exp/api/v1beta2/types.go
  exp/api/v1beta2/zz_generated.deepcopy.go
  pkg/cloud/services/ec2/helper_test.go
  pkg/cloud/services/ec2/instances.go
  pkg/cloud/services/ec2/instances_test.go
  pkg/cloud/services/ec2/launchtemplate.go
  pkg/cloud/services/ec2/launchtemplate_test.go
Labels: kind/feature, size/XL, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#5273 :book: Fix typo in table of feature gates in the docs
  docs/book/src/topics/reference/reference.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/S, release-note, ok-to-test, needs-priority

#5320 🌱 ROSA: Add capa agent and version to ocm client config
  pkg/rosa/client.go
  pkg/rosa/client_test.go
Labels: release-note-none, approved, cncf-cla: yes, lgtm, size/S, needs-priority

#5298 🐛 [release-2.5] fix: self hosted e2e test caused by disk pressure.
  test/e2e/data/e2e_conf.yaml
  test/e2e/data/infrastructure-aws/withoutclusterclass/kustomize_sources/remote-management-cluster/kustomization.yaml
  test/e2e/data/infrastructure-aws/withoutclusterclass/kustomize_sources/remote-management-cluster/patches/root-volume-size.yaml
Labels: approved, cncf-cla: yes, lgtm, kind/failing-test, size/S, release-note, needs-priority

#5019 🐛 fix(nodegroup): add nil pointer check for nodegroup version
  pkg/cloud/services/eks/nodegroup.go
Labels: kind/bug, approved, cncf-cla: yes, lgtm, size/XS, release-note, ok-to-test, needs-priority

#5249 :seedling: Bump CAPI to 1.8.6
  go.mod
  go.sum
  test/e2e/data/e2e_conf.yaml
  test/e2e/data/e2e_eks_conf.yaml
  versions.mk
Labels: size/M, approved, cncf-cla: yes, lgtm, kind/failing-test, release-note, needs-priority

#5215 🌱 test: e2e: make managed suite more robust to errors with Eventually()
  test/e2e/data/e2e_eks_conf.yaml
  test/e2e/suites/managed/addon.go
  test/e2e/suites/managed/aws_node_env.go
  test/e2e/suites/managed/eks_test.go
  test/e2e/suites/managed/helpers.go
Labels: size/L, release-note-none, approved, cncf-cla: yes, lgtm, kind/flake, needs-priority

#5214 :seedling:Add initial Rosa machine pool integration tests
  controlplane/rosa/controllers/rosacontrolplane_controller.go
  exp/controllers/rosamachinepool_controller.go
  exp/controllers/rosamachinepool_controller_test.go
  exp/controllers/suite_test.go
  pkg/cloud/scope/rosacontrolplane.go
  pkg/rosa/client.go
  pkg/rosa/idps.go
  pkg/rosa/ocmclient.go
  test/mocks/generate_capa.go
  test/mocks/ocm_client_mock.go
Labels: release-note-none, size/XXL, approved, cncf-cla: yes, lgtm, ok-to-test, area/testing, needs-priority
