Repository kubernetes-sigs/cluster-api-provider-aws, pull requests merged in 2025-02, with the labels that each got.

#5276 :book: Proposal for two new AWS self-managed cluster feature gates
  docs/proposal/2025-01-07-aws-self-managed-feature-gates.md
Labels: size/M, release-note-none, approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, needs-priority

#5332 :sparkles: Add version channelGroup for Rosa Machine Pool
  controlplane/rosa/api/v1beta2/rosacontrolplane_types.go
  controlplane/rosa/controllers/rosacontrolplane_controller.go
  exp/controllers/rosamachinepool_controller.go
  exp/controllers/rosamachinepool_controller_test.go
Labels: kind/feature, size/M, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#5275 :sparkles: Implement support for EFA interface type
  api/v1beta1/awscluster_conversion.go
  api/v1beta1/awsmachine_conversion.go
  api/v1beta1/zz_generated.conversion.go
  api/v1beta2/awsmachine_types.go
  api/v1beta2/types.go
  config/crd/bases/controlplane.cluster.x-k8s.io_awsmanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_awsmachinetemplates.yaml
  pkg/cloud/services/ec2/instances.go
  pkg/cloud/services/ec2/instances_test.go
Labels: kind/feature, size/L, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#5324 🐛 Fix ROSA doc formatting
  docs/book/src/topics/rosa/creating-a-cluster.md
Labels: kind/bug, size/M, approved, cncf-cla: yes, lgtm, release-note, ok-to-test, needs-priority

#5336 :bug: Fix OCM client wrapper
  controlplane/rosa/controllers/rosacontrolplane_controller.go
  exp/controllers/rosamachinepool_controller.go
  pkg/rosa/idps.go
  pkg/rosa/versions.go
Labels: kind/bug, release-note-none, approved, cncf-cla: yes, lgtm, size/S, ok-to-test, needs-priority, area/provider/rosa

#5291 🐛 Fix cluster deletion when using BYO AWS infra mode and Secondary CIDR
  pkg/cloud/services/network/secondarycidr.go
  pkg/cloud/services/network/secondarycidr_test.go
Labels: kind/bug, size/M, approved, cncf-cla: yes, lgtm, release-note, needs-priority

#5281 🌱 Avoid panicking in after-suite test code, improve logging
  test/e2e/shared/aws.go
  test/e2e/shared/aws_helpers.go
  test/e2e/shared/common.go
  test/e2e/shared/identity.go
Labels: size/M, release-note-none, approved, cncf-cla: yes, lgtm, kind/cleanup, needs-priority

#5338 🌱 Update testing to use NLB for controlPlaneLoadBalancer
  test/e2e/data/infrastructure-aws/withoutclusterclass/kustomize_sources/base/cluster-template.yaml
Labels: kind/support, release-note-none, approved, cncf-cla: yes, lgtm, size/XS, needs-priority

#5352 🐛 fix: oidc test failure
  pkg/cloud/services/eks/oidc_test.go
  pkg/internal/testcert/testcert.go
Labels: kind/bug, size/L, approved, cncf-cla: yes, lgtm, release-note, needs-priority

#5345 :warning: templates: use NLB as Control Plane Load Balancer type
  templates/cluster-template-flatcar.yaml
  templates/cluster-template-machinepool.yaml
  templates/cluster-template-multitenancy-clusterclass.yaml
  templates/cluster-template-simple-clusterclass.yaml
  templates/cluster-template.yaml
Labels: kind/feature, approved, cncf-cla: yes, lgtm, size/S, release-note, needs-priority
